[2016-03-18 13:17] slowmove opened #1 "Bower install failed to execute on Font-Awesome"
bower install sucessfully installs select2 as well as bootstrap but fails on Font Awesome
``` ECMDERR Failed to execute "git ls-remote --tags --heads git://github.com/FortAwesome/Font-Awesome.git", exit code of #128 fatal: unable to connect to github.com: github.com[0: 192.30.252.128]: errno=Operation timed out ```

![skarmavbild 2016-03-18 kl 14 15 10](https://cloud.githubusercontent.com/assets/6

[2016-07-07 20:11] siddharthlatest commented on #1
@slowmove could have been because it was pre-alpha. It's now in alpha and the installation should work.

[2016-07-07 20:14] siddharthlatest opened #2 "Support for ids query"
Ids query is part of Term level queries -
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-ids-query.html.

We should support it.

[2016-08-02 04:44] siddharthlatest opened #3 "Common Terms Query support"
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-common-terms-query.html

[2016-08-02 05:04] siddharthlatest opened #4 "Use comma as separator for terms query values"
The current separator is space( ), this would make it uniform with the implementation of other queries.

[2016-08-03 06:05] farhan687 commented on #3
Common terms query is added
https://github.com/appbaseio/mirage/commit/57df7ecb6bfd2b5e73c1485f2c15a23607e12ba1

[2016-08-03 06:07] farhan687 commented on #2
Ids query is implemented. https://github.com/appbaseio/mirage/commit/c0bc2083f06c94b906653b69fbcec377b699faa5

[2016-08-03 06:58] farhan687 commented on #4
Fixed: https://github.com/appbaseio/mirage/commit/e7e6199e25057358e8a8c0ab69e6ca3e3563811b

[2016-08-15 08:07] Analect opened #5 "Trying to get working against a version 5.x ES"
Thanks for a great project.
I was wondering if you might be able to point me in the right direction.  I have the default `match_all` query running fine against a local version 5.x-alpha4 elasticsearch installation.

However, when it comes to assembling a nested query, it isn't allowing me to build up the query.  I'm assuming it might have something to do with the new mapping types introduced in 5.

[2016-08-15 08:15] farhan687 commented on #5
@Analect Thanks for reporting issue, We didn't test it yet with Es version 5.x. But it looks like you already gave the solution for string type.

You are right about date type, mirage is not working well for date type. We will try to resolve this issue as soon as possible.

[2016-08-15 09:04] Analect commented on #5
Thanks @farhan687  Is there a particular place in the code that is testing for `string` type, where I might try to tweak to handle the `text` and/or `keyword` types?

[2016-08-15 10:46] farhan687 commented on #5
@Analect You can try over here: https://github.com/appbaseio/mirage/blob/dev/app/build/types/types.component.ts#L68

[2016-08-15 10:48] #4 closed

[2016-08-16 10:58] Analect commented on #5
@farhan687
I was taking a closer look at this to see if I might be able to modify things to get it working with ES 5.x
I can see in the link above, that where field mappings are not of 'string' type, then they are bundled into a 'numeric' type.  The black box on the left below, with either 'string' or 'numeric' against `mirgage_test` work fine.

However, when I adjust the index and credentials in

[2016-08-16 11:24] farhan687 commented on #5
@Analect Try something like this

`
switch (obj.type) {
	case 'long':
	case 'integer':
	case 'short':
	case 'byte':
	case 'double':
	case 'float':
		obj.type = 'numeric';
		break;
	case 'text':
	case 'keyword':
		obj.type = 'string';
		break;
}
`

over here:
https://github.com/appbaseio/mirage/blob/dev/app/build/types/types.component.ts#L68

By doing this mirage will consider 'text' or 'keyword' a

[2016-08-16 13:57] Analect commented on #5
Great. That worked. Thanks.
Would you be able to shed any light on why `mirage` doesn't appear to work with an index alias? This is the exception that throws (screenshot below), when I try to use an alias of an index (it is a [filtered alias](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-aliases.html#filtered))  .. it appears to connect OK ... but doesn't resolve the docum

[2016-08-22 04:46] #2 closed

[2016-08-22 04:46] #3 closed

[2016-08-22 04:46] siddharthlatest commented on #1
Closing this issue.

[2016-08-22 04:46] #1 closed

[2016-08-22 04:47] siddharthlatest opened #6 "Add query specific docs to show in the mirage UI"

[2016-08-22 04:48] siddharthlatest opened #7 "Create a project roadmap"
Create a detailed roadmap showing what's implemented, how we plan to add the entire Query DSL an upcoming support for ES versions.

[2016-09-12 03:26] siddharthlatest opened #8 "Add support for geo distance query"
Implement support for [Geo Distance Query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-geo-distance-query.html).

### Prerequisites

* You can try out the live version of mirage here - https://appbaseio.github.io/mirage.
* You will need to know how Elasticsearch works, reference can be found [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/index.

[2016-09-22 20:50] siddharthlatest opened #9 "UI selector focus changes"
![](https://i.imgur.com/gA78Gse.png)

A keyboard press in the third column of the query entry changes the focus to the JSON text area.

![](https://i.imgur.com/YxWLWT2.png)

[2016-09-23 03:12] farhan687 commented on #9
Fixed over here: 77dc70e7c75115bcc7f993ad7c3715c965067ae8

[2016-09-27 11:49] #9 closed

[2016-10-04 12:30] nellicus opened #10 "No index/appname can be selected"
hello, first of all congrats for the great tool.

I've installed it on a es 2.3.x with ssl enabled, I can get it to connect to the cluster I see using chrome-dev-tools that the mappings are returned successfully, however I can't select any index after I hit "connect".

I'm using a admin user which can call all api on all indices so I'd exclude permission issues.

if I just hit run query I get a re

[2016-10-05 09:00] farhan687 commented on #10
Hey @nellicus Did you select any type from the left side select box?
this leads me to good UI issue that 'Run Query' button should be disabled until user select the type.

[2016-10-05 14:00] nellicus commented on #10
@farhan687 after I've entered the url on the right side box and click connect if I click on "Data view" nothing happens, and the other box still displays in grey "Appname (aka index) goes here" and nothing happens if I click it.

if I hit "run query" I get the answer I've posted above...

[2016-10-05 14:05] farhan687 commented on #10
@nellicus Do you see 'Select type to apply query' input box?

[2016-10-05 14:07] farhan687 commented on #10
Can you just take a screenshot of after pressing connect?

[2016-10-05 14:30] nellicus commented on #10
​

On Wed, Oct 5, 2016 at 4:07 PM, Farhan Chauhan <notifications@github.com>
wrote:

--
Antonio Bonuccelli
Elastic Support

[2016-10-05 14:31] nellicus commented on #10
![screen shot 2016-10-05 at 16 28 29](https://cloud.githubusercontent.com/assets/8770097/19117396/22725ba6-8b19-11e6-952b-db48d08b708c.png)

[2016-10-05 14:32] siddharthlatest commented on #10
@nellicus I believe the issue is that the index name is not selected. Mirage only supports queries within a selected index at the moment.

A usability issue for us to work on is to not allow connecting if the index is not specified.

[2016-10-05 14:34] nellicus commented on #10
how do you do that?

[2016-10-05 14:41] siddharthlatest commented on #10
Enter an existing index in the first field (to the left of the Elasticsearch cluster URL) and then click connect.

[2016-10-05 15:03] nellicus commented on #10
oohhhhhhhh I see.

I was assuming since you get the mapping that indices would be selectable *after* hitting connect rather than having to enter the single index name *before* connecting.

I understand now, indeed looking forward to the day where this would work over wildcards ideally dinamically pulling detected indices list

thanks for your help

[2016-10-05 15:03] #10 closed

[2016-10-05 15:28] siddharthlatest opened #11 "Allow connection only when an index is specified"
An index name (app) needs to be specified before allowing a connection to happen. Otherwise, the user might expect the index to be changeable after connecting. #10

[2016-10-06 13:41] AbdullahAli opened #12 "Cannot find name 'appbaseService'"
After I `npm install`, `bower install` and `npm start`, I get the following error:

Can you please help?

[code]

[2016-10-06 13:56] AbdullahAli opened #13 "Authentication error"
Whenever I try to connect, I get the following error, please help

![screen shot 2016-10-06 at 15 06 01](https://cloud.githubusercontent.com/assets/1620134/19155103/1c92b2b4-8bd5-11e6-8225-e11f42a68ed5.png)

[2016-10-06 13:58] siddharthlatest commented on #13
@AbdullahAli will look into this.

[2016-10-06 14:16] AbdullahAli opened #15 "Chrome extension does not give option to create query"
The chrome extension does not allow me to create a query, after selecting the index, nothing appears under it:

![screen shot 2016-10-06 at 15 24 36](https://cloud.githubusercontent.com/assets/1620134/19155845/d1cf9bfe-8bd7-11e6-920e-b66b4edde960.png)

[2016-10-06 14:19] farhan687 commented on #15
Does it happen with pre loaded queries?

[2016-10-06 14:24] farhan687 commented on #12
@AbdullahAli  Sorry for that, Can you try now, I was in middle of development.

[2016-10-06 14:25] farhan687 commented on #13
@AbdullahAli Did you change your elasticsearch config file?

For example it should be something like this:

[code]

[2016-10-06 14:52] pierrefar opened #16 "Can't connect to AWS Elasticsearch Service"
Hi

We have an AWS ES service that allows only a specified set of IP addresses to access the domain - no usernames. This works as expected, but Mirage fails with an authentication error using the Chrome extension running on an IP address that works.

[2016-10-06 14:55] farhan687 commented on #16
Hi @pierrefar Can you show me the 'url' format?

[2016-10-06 14:56] AbdullahAli commented on #15
no, preloaded looks okay, but it does not allow me to change the connection at the top, so I can't use it:

![screen shot 2016-10-06 at 16 05 34](https://cloud.githubusercontent.com/assets/1620134/19157509/6f4d5bb4-8bdd-11e6-9672-112a2bd8d0a7.png)

[2016-10-06 14:58] farhan687 commented on #15
You can use 'disconnect button' on the right side top corner and edit it over there.
and one more thing

Did you change your elasticsearch config file?

For example it should be something like this:

[code]

[2016-10-06 14:59] AbdullahAli commented on #12
awesome stuff, it works now! 👍

![screen shot 2016-10-06 at 16 08 49](https://cloud.githubusercontent.com/assets/1620134/19157648/e64fdeda-8bdd-11e6-8e64-c31e2aeed304.png)

[2016-10-06 15:00] farhan687 commented on #12
cool.

[2016-10-06 15:00] #12 closed

[2016-10-06 15:04] pierrefar commented on #16
@farhan687 It's like this:

https://long_random_string_identifying_ES_domain.us-west-2.es.amazonaws.com

Of course "us-west-2" will depend on the AWS region you're using. Not sure if HTTP works as we always use HTTPS.

[2016-10-06 15:10] AbdullahAli commented on #13
sweet! that worked 👍

if anyone else gets stuck:

just to confirm, I added what you suggested (**without indenting after first line**) into
[code]
(I installed elasticsearch via brew so your config file might be in a different place)

then I hit refresh a couple of time and connect/disconnect and it should work:

![screen shot 2016-10-06 at 16 16 10](https://cloud.githubusercontent.com/assets/1620

[2016-10-06 15:12] AbdullahAli commented on #15
good shout (possibly the same issue as https://github.com/appbaseio/mirage/issues/13)

just to confirm, I added what you suggested without the indentations (as this breaks it):

[code]

[2016-10-06 16:42] farhan687 commented on #16
hi @pierrefar Can you try it again? I have updated the mirage for gh-pages and elasticsearch plugin.

[2016-10-06 19:44] pierrefar commented on #16
Hi @farhan687 Not working unfortunately. I tried different indices, and different combinations of the URL specifying HTTP/HTTPS, specifying different ports (:80, :443, :9200). Mirage refuses to do anything unless it sees :9200, and then it fails to authenticate after a few seconds of trying.

[2016-10-07 03:49] siddharthlatest commented on #15
@AbdullahAli And, do you still see it?

[2016-10-07 03:53] siddharthlatest commented on #7
added in README https://github.com/appbaseio/mirage#3-roadmap

[2016-10-07 03:53] #7 closed

[2016-10-07 03:53] siddharthlatest commented on #6
Added an iframe of Elasticsearch official docs.

[2016-10-07 03:53] #6 closed

[2016-10-07 03:54] #13 closed

[2016-10-07 03:56] farhan687 commented on #11
Fixed it over here: c71ed9d6c3bbad077b7f1e295ba538bf1b92b573

[2016-10-07 03:56] #11 closed

[2016-10-07 06:49] Garrett-R commented on #16
A more simple example of what I believe to be the same bug is not being able to connect to `http://localhost:8080/` even though the server is running fine:

[code]

[2016-10-07 07:24] farhan687 commented on #16
Sorry for inconvenience, we are trying to solve this issue which is specific to `mirage chrome-extension`.
For now you can use `mirage elasticsearch plugin` which is working fine.
I will inform you once we resolve this issue.

[2016-10-07 08:34] AbdullahAli commented on #15
@siddharthlatest oh sorry I wasnt more clear

no, adding what @farhan687 suggested works 👍

I do not see the issue anymore

[2016-10-07 08:34] #15 closed

[2016-10-08 13:50] matarrese opened #17 "vendor.min.js:6 Uncaught ReferenceError: jQuery is not defined(anonymous function) .."
Hi,
I have been trying to run the instance locally.
When I open the browser, these are the errors that I get in the console:
vendor.min.js:6 Uncaught ReferenceError: jQuery is not defined(anonymous function) @ vendor.min.js:6
JSONURL.js:1 Uncaught ReferenceError: LZMA is not defined(anonymous function) @ JSONURL.js:1
custom.min.js:1 Uncaught ReferenceError: $ is not defined

Am I missing any step

[2016-10-08 20:02] farhan687 commented on #17
Hi @matarrese

Are you using dev branch?
-> If yes it looks like you forgot to do bower install.
to resolve this do
1) bower install,
2) npm run build.

Or if other than that can you tell me where do you see this problem in chrome_extension, elastic search plugin or gh-pages?

[2016-10-09 08:55] matarrese commented on #17
Thank you

[2016-10-09 08:55] #17 closed

[2016-10-10 02:54] farhan687 commented on #16
Hey @Garrett-R @pierrefar sorry for the delay, it took some time to just figure out the issue and now we fixed the issue.
The issue regarding `chrome-extension` is fixed and updated `mirage` on chrome store.
Can you try mirage with mirage 0.1.5 version?

[2016-10-10 03:55] Garrett-R commented on #16
Thanks @farhan687! So actually, I haven't tried the chrome-extension, but I see there now appears to be a different bug on the hosted site (`http://appbaseio.github.io/mirage/`).  I can't click `Connect` anymore:

![2016-10-09 20 52 49](https://cloud.githubusercontent.com/assets/6614695/19226649/adef94c2-8e62-11e6-883d-4e86b5f67e04.jpg)

(notice the button is disabled and my cursor has a forbidden

[2016-10-10 04:15] siddharthlatest commented on #16
@Garrett-R do you have an index name selected?

[2016-10-10 05:00] Garrett-R commented on #16
@siddharthlatest, whoops, thanks, I forgot that piece.  (I've delete my comment)

[2016-10-10 05:02] Garrett-R commented on #16
OK, so, trying again on the hosted site, I'm still getting an error.  Here's what it looks like before I hit `Connect`:

![image](https://cloud.githubusercontent.com/assets/6614695/19227250/f9675c1a-8e6b-11e6-9ae0-3803c461e679.png)

Note that the second tab is showing that `localhost:8080` is indeed serving up properly.

I hit connect and get this error:

Check your url and appname and then connec

[2016-10-10 12:04] farhan687 commented on #16
@Garrett-R Looks like CORS issue, Can you check in console what does it shows, when you are trying to connect.

Basic workaround for CORS issue with elasticsearch:
Apply following changes in elasticsearch:

[code]

For more information:
 https://github.com/elastic/elasticsearch/issues/9063

[2016-10-11 07:50] pierrefar commented on #16
@farhan687 Still not working with AWS unfortunately.

What I did: Deleted the extension from Chrome and installed it fresh. Gave it the correct AWS ES endpoint and a correct index name. Failed with the same authentication error.

[2016-10-11 09:38] farhan687 commented on #16
@pierrefar Can you take screenshot of error log?

[2016-10-11 13:11] pierrefar commented on #16
@farhan687 Attached. It's the same text as @Garrett-R copied earlier.

![mirage-error](https://cloud.githubusercontent.com/assets/34682/19271413/85be21de-8fbc-11e6-93ca-71e70257652d.png)

[2016-10-11 16:32] tjrobinson opened #18 "Chrome extension doesn't work against local unauthenticated instance"
I've installed the latest Chrome extension from the Chrome store.

When I connect to `http://127.0.0.1:9200` or `http://localhost:9200` it fails with:

[code]

I've added this to my elasticsearch.yml file and restarted before doing the above:

[code]

[2016-10-11 16:32] tjrobinson commented on #18
Looking in the Chrome console I see that:

[code]

[2016-10-11 18:54] siddharthlatest opened #19 "support filter clause in the compound query combinator"
Compound query combinator (denoted by `+ Nested query`) supports `must`, `should`, `must_not` and `should_not` (?) clauses.

`should_not` is not a valid clause. Using it throws a query syntax error.

![should_not use](https://i.imgur.com/l2WrqNS.png)

![Syntax Error](https://i.imgur.com/sgWY7WC.png)

The fourth clause should be `filter` instead of `should_not`. From the documentation for [filters

[2016-10-12 03:26] farhan687 commented on #18
Hey @tjrobinson It looks like CORS error, your allow origin should be like this
[code]

Steps:
1) Stop elasticsearch
2) update config
Es config:
[code]
3) start elasticsearch

4) Open console and try to make a request.
[code]

If it's response status is 200 then try with mirage, mirage should work after that. If you are facing any error in request post the error log over here or checkout [CORS iss

[2016-10-12 06:17] farhan687 commented on #19
Fixed over here c883dd893512f0cb49d9d73cf3f3ccccd286ce70

[2016-10-12 07:33] peppetrick opened #20 "use subfield in query"
It seems  I cannot select subfield for a query in drop down menu..

[2016-10-12 07:46] siddharthlatest commented on #20
@peppetrick That's not very clear. Can you elaborate and/or paste a screenshot of what you are trying to do?

[2016-10-12 07:58] tjrobinson commented on #18
I've done that and Mirage is still giving the same error.

Using the Chrome console I get this:

![image](https://cloud.githubusercontent.com/assets/925311/19301940/f4111266-9059-11e6-9867-e55b84386e4e.png)

I think the problem is that we have no authentiction set up on our ES instances, but Mirage and your script above send credentials?

[2016-10-12 09:42] peppetrick commented on #20
Look one hits below, you see the field "**Evento**" with subfield...

![image](https://cloud.githubusercontent.com/assets/11177562/19305323/a06797b8-9070-11e6-96aa-f5e7ffc61789.png)

in the drop down menu I can see only "**Evento**"

![image](https://cloud.githubusercontent.com/assets/11177562/19305358/ca3f99aa-9070-11e6-82c9-5efeb34d5340.png)

[2016-10-12 10:15] metagrover commented on #8
Hey guys, I need some input with this issue.

I am getting `query_parsing_exception` - "failed to find geo_point field [pin.location]" when I try to run the query. I am able to generate the query of the format:

[code]

I had to list `geo_distance` under `string` in queryList (to check whether I'm able to generate the query of the desired format), since ES is not able to detect the `Geo Point` typ

[2016-10-12 10:23] farhan687 commented on #8
What is the data type of location field? it should be `geo_point`, otherwise geo query will fail.

[2016-10-12 10:58] metagrover commented on #8
Yeah about that, do you mean:

Specifying `@Input() selectedField: geo_point;` in the component and [adding mappings in ES](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-point.html)?

[2016-10-12 12:08] farhan687 commented on #8
No no
I am not asking about typescript datatype.
I am asking about es mapping datatype.

Pin.location should have geo_point datatype of es mapping.

You should add
Geo_point: ['geo_distance'] in ananlyzed,  non_analyzed of queryList.

Where geo_point is datatype and geo_distance is query name.

[2016-10-12 12:11] metagrover commented on #8
Yes, I've already done that, but it seems ES is not able to determine the type of the field. It is `undefined`.

[2016-10-12 12:20] farhan687 commented on #8
Then you need to pick a new field and add geo_point mapping for that.

[2016-10-12 12:36] metagrover commented on #8
I've tried that, but I think I am missing something. Type of the field is still undefined.

![screen shot 2016-10-12 at 6 01 30 pm](https://cloud.githubusercontent.com/assets/9116042/19310104/13fb1814-90a6-11e6-904f-738b8385bf1f.png)

How should I add the geo_point mapping for this field (pin)?

[2016-10-12 13:02] siddharthlatest commented on #8
@metagrover ES field type needs to be defined (via mappings), Elasticsearch can't auto-infer it as geo-point. Since mappings are also immutable starting v2.0, you should define it for a new field. https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-point.html

[2016-10-12 13:14] siddharthlatest commented on #20
@peppetrick Got it, we would like to support nested objects. Would this be useful in other queries besides the nested query?

[2016-10-13 07:43] laTruffe79 opened #21 "unable to connect in chrome extension"
Hello mirage seems great but the chrome extension don't work I can't click connect the console output is

my chrome is on version 53.0.2785.116 m

[2016-10-13 15:25] farhan687 commented on #21
Ignore that error.
Did you type appname and url in the input boxes?
Can you share screenshot?

[2016-10-13 15:30] farhan687 commented on #18
I just confirmed, mirage chrome extension is working fine with local connection.
and yes it was my mistake in above steps.

Es config should be:

[code]

and still if you see the issue, please provide detail of es version.

[2016-10-13 15:33] farhan687 commented on #16
@pierrefar Can you share elasticsearch version info?

[2016-10-13 18:53] pierrefar commented on #16
Hi @farhan687 . It's ES 1.5.2, the standard one hosted on AWS. And as of a few weeks ago they have a newer ES version.

They have a free usage tier if you want to test with one directly.

[2016-10-13 19:32] siddharthlatest commented on #16
@pierrefar Mirage only works for 2.x and above versions. I would recommend you trying their newer version.

Elasticsearch has an issue with CORS on v2.3.0 and v2.3.1, see reference - https://github.com/elastic/elasticsearch/issues/17483.

Your best bet is using v2.4.0 and above.

[2016-10-13 20:22] jalberto opened #23 "Official Docker"
Will be great to have an official docker image for mirage, eg:

https://github.com/lmenezes/elasticsearch-kopf/tree/master/docker

[2016-10-14 07:48] tjrobinson commented on #18
Thanks. It's looking better but I'm still getting an error. I'm on Elasticsearch 2.3.4 on Windows 10 (can't upgrade currently as I need to match what we're running in production):

![image](https://cloud.githubusercontent.com/assets/925311/19379644/ec65da96-91ea-11e6-973a-8accfd1cb2b2.png)

[2016-10-14 07:54] farhan687 commented on #18
This is little bit confusing, I cannot see any error message in console log. Still you are getting any error on UI this is strange. Can you just try disconnecting and connecting?

and can you also try on gh-pages? appbaseio.github.io/mirage

[2016-10-14 07:59] tjrobinson commented on #18
I've sorted it. I was connecting to the index via the alias not the actual index name. It works if I use the index name. Not sure if that's a bug or just me doing it wrong?

GET /_cat/aliases?v

[code]

[2016-10-14 08:01] tjrobinson commented on #18
I see the same issue (and solution) with the gh-pages version and the plugin too.

[2016-10-14 08:02] farhan687 commented on #18
@tjrobinson yes, so mirage is not creating anything for you. it is just an query explorer.

 you can create indexes and view data using [dejavu](https://github.com/appbaseio/dejaVu/).

[2016-10-14 08:03] tjrobinson commented on #18
The index and the alias exist already. I was expecting to be able to use either the alias or the index name when querying.

[2016-10-14 08:05] farhan687 commented on #18
Okay, I will check it out if we can support alias also for connection.

[2016-10-14 08:06] tjrobinson commented on #18
Great, thanks. Nice tools by the way, good work.

[2016-10-14 08:06] #18 closed

[2016-10-14 09:05] siddharthlatest commented on #23
@jalberto That's a good suggestion.

[2016-10-14 09:25] siddharthlatest commented on #21
@laTruffe79 can you share a screenshot?

[2016-10-14 09:27] #8 closed

[2016-10-14 09:28] siddharthlatest commented on #8
Merged in https://github.com/appbaseio/mirage/commit/f10cae3d681050c705cf662aa006860a78cf0040.

[2016-10-14 09:29] #19 closed

[2016-10-15 19:17] siddharthlatest commented on #20
I want to mention that subfields (in the multi-field context) are now supported. Not to be confused with nested object fields, which will be supported when we add nested query support. Filing an issue for that separately.

[2016-10-15 19:17] #20 closed

[2016-10-15 19:24] siddharthlatest opened #24 "Support nested query (and nested fields)"
We would like to add support for [nested queries](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-nested-query.html#query-dsl-nested-query) within mirage, and along with it also support nested object field selection in the fields drop down.

Original request in https://github.com/appbaseio/mirage/issues/20.

**Prerequisites**

You can try out the live version of mirage he

[2016-10-15 19:25] siddharthlatest commented on #24
See example PR https://github.com/appbaseio/mirage/pull/22

[2016-10-20 13:22] hkulekci commented on #23
I can create a Dockerfile and docker-compose.yml file for the project.

[2016-10-21 03:21] #16 closed

[2016-10-23 17:29] siddharthlatest opened #26 "GeoPolygon Query should accept an array"
A polygon shape can be defined by a n-size array, it's better to take the array as is rather than try to interpret individual (lat, long) values of the polygon shape.

![](https://i.imgur.com/7XXHAET.png)

[2016-10-23 17:45] siddharthlatest commented on #21
@laTruffe79 I am closing this because of the lack of updates.

[2016-10-23 17:45] #21 closed

[2016-10-29 23:54] siddharthlatest commented on #5
We should look at the 5.0 compatibility more so now that it's GA.

[2016-10-29 23:57] siddharthlatest opened #27 "Mirage as a Kibana Plugin"
Site plugins have been removed starting Elasticsearch 5.0, and since it hit GA last week, we might want to consider supporting other options.

We already have Mirage available as a hosted app and a chrome extension, but it would be worth considering having it as a Kibana plugin along with these options.

[2016-11-13 18:07] farhan687 commented on #5
Fixed over here 944686350e57bccbcc208e8259fb8c112dc71bca

[2016-11-13 18:09] farhan687 commented on #26
Fixed over here: 8a7808c343b4ece3545c79cdbebcb20364ed2c51

[2016-11-13 18:11] siddharthlatest commented on #5
Released in `v0.4.0`.

[2016-11-13 18:11] #5 closed

[2016-11-13 18:12] siddharthlatest commented on #24
Added in 661262575ec326c940e603c1664dc9b3c504d254 and released with `v0.4.0`.

[2016-11-13 18:12] #24 closed

[2016-11-13 18:14] siddharthlatest commented on #26
Released in `v0.3.0`

[2016-11-13 18:14] #26 closed

[2016-11-15 19:14] hrqiang opened #28 "Math date support with index name."
For many of our index, like the one from logstash, it's date based.
So I would like to see if is it possible to have something like <MY_INDEX-{now/d}> for index(appName).
I tried <MY_INDEX-{now%2Fd}>, it's getting 200 OK for mapping response. But there is pop up said authentication error. I guess it's because the response doesn't exactly match the index name.

[2016-11-15 19:17] siddharthlatest commented on #28
@hrqiang Mirage only works for a single index currently. An authentication error can happen because of either appname or elasticsearch cluster URL not being interpreted correctly.

Which version of ES are you using? And how are you using it - localhost or hosted somewhere?

[2016-11-15 19:30] hrqiang commented on #28
@siddharthlatest I'm using 2.2 version of ES, but I can try it on 5.0.
I'm using it with chrome extension to work around the CORS issue. I'm using it on a hosted environment. The <MY_INDEX-{now%2Fd}> is the closest one I got. Which create a request /%3CMY_INDEX-%7Bnow%2Fd%7D%3E/_mapping/ and get a successful response. However, it shows "It looks like your app name, username, password combination d

[2016-11-15 19:41] siddharthlatest commented on #28
@hrqiang I see the issue title as math date support for index name, we don't do that currently. Can you verify if the index name (as a string) works? We can then treat this as a possible enhancement.

[2016-11-15 19:42] hrqiang commented on #28
@siddharthlatest Yes, that works.

[2016-11-30 06:08] siddharthlatest opened #29 "Show different results view"
We currently show the results as raw JSON. We can update this to show:

1. Results in a tabular format,
2. Streaming results (applicable for appbase.io hosted versions)

[2016-11-30 06:12] siddharthlatest opened #30 "Add streaming flag in queries"
We can add a stream -> `true`/`false` flag (could be implemented as a switch) in the main Mirage UI, the switch only shows when hostname is an appbase.io URL (and eventually will be supported in Autopilot too).

[2016-11-30 23:33] zpchavez opened #31 "Support for index aliases"
Mirage should have the option to select an index by its alias. When following the [zero down-time reindex pattern](https://www.elastic.co/blog/changing-mapping-with-zero-downtime), the index name will change with every reindexing, but the alias will remain the same. Currently this means all saved queries in Mirage will become invalid.

[2016-12-02 12:57] fizerkhan opened #32 "Data View and Query View button take me to appbase.io"
I installed mirage as plugin to my local elasticsearch. In the Mirage GUI, When I click "Data View" button, it goes to `http://opensource.appbase.io/dejavu/live/#?input_state=`. But it should go to local dejavu. By the way, I also installed dejavu locally.

Similarly,  Query view button in dejavu takes to appbase.io mirage. But it should goes to local machine.
Is there way to configure it?

[2016-12-02 17:57] siddharthlatest commented on #32
@fizerkhan The host name is what will change from the hosted app URL if you intend to use it with the local plugin. That said, we are considering how to integrate them more fluidly.

[2016-12-02 17:57] #32 closed

[2016-12-02 18:01] fizerkhan commented on #32
@siddharthlatest You mean it is intended.

[2016-12-02 23:08] siddharthlatest opened #33 "Preloaded Queries don't work with mirage"
It seems there has been a backwards incompatible change in the URL format. The preloaded queries demo doesn't work with the latest dev branch or the v5.0 release.

[2016-12-02 23:21] siddharthlatest commented on #31
@zpchavez Yes, aliases should be supported instead of app name.

And also confirming the issue - currently, mirage returns a `401` error code.

![](https://i.imgur.com/LbKpGcv.png)

[2016-12-02 23:31] metagrover commented on #33
fixed here 38e6bb0

[2016-12-02 23:31] #33 closed

[2016-12-06 11:38] haizaar opened #34 "Can't connect to ES server"
Hi guys,

I'm using hosted version of Mirage: http://opensource.appbase.io/mirage/ on Chrome 53.

It can't connect to my dev server that does not have any auth and has CORS allow origin set to `*`:

![image](https://cloud.githubusercontent.com/assets/58201/20924160/cb5b4e2e-bbb8-11e6-8667-459947c07930.png)

Browser console says the following:
[code]

However my CORES response welcomes everybody:
[

[2016-12-06 11:39] haizaar commented on #34
Probably related: https://github.com/appbaseio/dejavu/issues/47

[2016-12-06 15:10] farhan687 commented on #34
Hey @haizaar Can you make sure you followed following steps: https://github.com/appbaseio/mirage#install-as-elasticsearch-plugin

and try `http.cors.allow-origin: "/.*/"` instead of just `*`

[2016-12-06 15:32] haizaar commented on #34
Turns out I've missed `allow-headers` directive. Now it works wonders. Thank you!

[2016-12-06 15:32] #34 closed

[2016-12-15 17:24] Analect opened #35 "Installing plugin version on ES 5.x"
I was trying to install both the mirage and dejavu as plugins in the latest version of ES 5.1.1

However, I got the following error.
[code]

The install command I ran, from a Dockerfile using `FROM elasticsearch:5.1.1-alpine` was `RUN elasticsearch-plugin install appbaseio/mirage`.  This approach worked fine for other plugins.

However it doesn't appear to recognise you plugin. Is there some requi

[2016-12-15 17:36] Analect commented on #23
@siddharthlatest
Can I ask, is this dockerized version intended to be an alternative to installing it as a plugin?  As per #35, I was having trouble installing it on v5 of ES.

@hkulekci
I can see the Dockerfile, as part of the CMD uses `--host=0.0.0.0` .. am I right in understanding that this should point to the host where ES is running?  Does it need to be running on the same machine as this con

[2016-12-16 06:56] hkulekci commented on #23
@Analect `--host` parameter doesn't mention ES host. It actually mentions node server ip address. By default, it points to your containers localhost. If you want to change, you can set. For development environment, it is not necessary. Also, I think, you will use your dist folder for production, not your node server or npm environment.

On the other hand, Mirage provide a interface to set a host a

[2016-12-16 08:28] Analect commented on #23
Thanks @hkulekci
Just a quick follow-up ... have you tried to containerize dejavu in the same way.  Do you see any obstacles to taking the same approach as you've done in here?

[2016-12-16 11:05] hkulekci commented on #23
please check the pr for dejavu https://github.com/appbaseio/dejavu/pull/49 @Analect

[2016-12-16 12:04] Analect commented on #23
Thanks alot @hkulekci

[2017-01-09 03:47] siddharthlatest commented on #31
Fixed here https://github.com/appbaseio/mirage/commit/cd500ee069b9d2315d29b13b0e298819f16ef015.

[2017-01-09 06:42] #31 closed

[2017-02-17 11:02] siddharthlatest commented on #23
Thanks @hkulekci for the PR. Official images are now available at https://hub.docker.com/r/appbaseio/mirage/ and https://hub.docker.com/r/appbaseio/dejavu/!

[2017-02-17 11:02] #23 closed

[2017-02-17 11:06] siddharthlatest commented on #35
ES has removed support for site plugins v5.0 onwards. Alternatives are to:

1. Run the plugin on a standalone server
2. Run via docker https://hub.docker.com/r/appbaseio/mirage/.

Both scenarios require adding [CORS config](https://github.com/appbaseio/mirage#install-as-elasticsearch-plugin) in Elasticsearch, similar to the one required for plugin installation.

[2017-02-17 11:06] #35 closed

[2017-02-17 11:08] siddharthlatest commented on #29
Results in tabular format are already supported in `v0.6.0`, streaming results support will be added in the next release.

[2017-03-14 12:13] farhan687 opened #36 "Support Date datatype"
Add range, terms and other queries which can be applied on date field.

[2017-03-17 14:02] farhan687 commented on #36
Fixed here: 3682c20dbb8a4979bf8ef6e28b945ba4aa8c0350

[2017-03-17 14:03] farhan687 commented on #30
Fixed here: f9509fd081ae05bd899d90bb0cb5ed2ab977897a 049fe257b99a443c3331ee236037e85d10d4fcfc

[2017-03-17 14:04] farhan687 commented on #29
Fixed here: f9509fd081ae05bd899d90bb0cb5ed2ab977897a

[2017-03-20 09:02] #36 closed

[2017-03-20 09:03] #30 closed

[2017-03-20 09:03] #29 closed

[2017-03-21 05:18] xycloud opened #37 "can this be integrate with kibana?"
can this be integrate with kibana5?

[2017-03-30 16:09] siddharthlatest opened #38 "Simplifying generated query"
The current mirage workflow is designed in an opinionated fashion to programmatically compose Elasticsearch Query DSL compatible queries. As a result, it defaults to starting out with a compound query (`bool` clause).

We are leaving out the use-case of teaching Elasticsearch query syntax currently.

It would be ideal if we can figure a way to compose queries that start out with a leaf query forma

[2017-05-10 14:17] metagrover opened #39 "Run Query button positioning"
Run Query button gets dislocated when the query block's height reaches its position.

![screen shot 2017-05-10 at 7 41 07 pm](https://cloud.githubusercontent.com/assets/9116042/25903082/0dfec452-35b9-11e7-89d1-30d1fbdcfe1e.png)

[2017-05-24 17:38] rahst12 opened #40 "Elastic 1.7.3 Without HTTPS Basic Auth"
Hi,
   I'm running Elastic 1.7.3 without HTTPS Basic Auth.  I've installed the Mirage Docker version.  I can't seem to get it to connect.. Looking at the web debug console logs, it looks like it's not liking that I don't have a username/pass on the elastic url.

   Any advice would be great..

Thanks

[2017-05-24 17:56] siddharthlatest commented on #40
@rahst12 Mirage is only compatible with v2.x and above.

[2017-05-24 17:58] siddharthlatest commented on #40
We will look into the use of non-basic authenticated ES, cc @farhan687

[2017-05-24 18:41] rahst12 commented on #40
On the main page under the docker part it says: "Works with Elasticsearch versions **1.x**, 2.x and 5.x.".. Is that just out of date?

[2017-05-24 20:10] rahst12 commented on #40
I'm looking to upgrade elastic... Is there a plugin I should be looking for that does authentication?  I see references to Shield all over.

[2017-05-24 21:24] siddharthlatest commented on #40
@rahst12 If you just need Basic Auth, it can be set up in a nginx conf. There are already docker images out there https://hub.docker.com/r/beevelop/nginx-basic-auth/ which can then forward to Elasticsearch. If you need something more sophisticated, you can then either go with Shield or
https://github.com/floragunncom/search-guard.

[2017-07-01 17:18] svanschalkwyk opened #41 "verbose stack Error: mirage@0.7.0 start: `tsc && concurrently "npm run tsc:w" "npm run lite" "gulp watch" `"
Have tried with node 8,7, etc. All versions have this problem.
Funny thing, it used to work until last night.

0 info it worked if it ends with ok
1 verbose cli [ '/home/steph/.nvm/versions/node/v7.10.0/bin/node',
1 verbose cli   '/home/steph/.nvm/versions/node/v7.10.0/bin/npm',
1 verbose cli   'start' ]
2 info using npm@4.2.0
3 info using node@v7.10.0
4 verbose run-script [ 'prestart', 'start', '

[2017-07-01 17:24] svanschalkwyk commented on #41
Just started to work. Problem with node?

[2017-07-23 12:43] siddharthlatest commented on #40
**Conclusion:**

1. Mirage isn't compatible with v1.x.
2. The docs have been updated at https://hub.docker.com/r/appbaseio/mirage/ with more details on how to setup CORS config with Elasticsearch.
3. Mirage works with an Elasticsearch cluster both with and without a basic auth setup.

[2017-07-23 12:43] #40 closed, assigned to nobody

[2017-07-23 12:46] siddharthlatest commented on #37
@xycloud Mirage can't be used as a plugin in Kibana 5 if that's what you are asking. Our recommended set up is to use this docker image if you are looking to run this on your server - https://hub.docker.com/r/appbaseio/mirage/.

Other options to run Mirage are the [hosted app](https://opensource.appbase.io/mirage/) and the [chrome extension](https://chrome.google.com/webstore/detail/mirage/dcnlpfm

[2017-07-23 12:46] #37 closed, assigned to nobody

[2017-07-23 12:47] siddharthlatest commented on #41
Hard to tell, closing this issue.

[2017-07-23 12:47] #41 closed, assigned to nobody

[2017-07-30 07:46] farhan687 commented on #39
Fixed here d9f4643b27fa7ba732363b397800c3f195817c67

[2017-08-23 01:40] reedv opened #43 "Authentication sign-in not working on chrome extension"
I was initially having trouble with the authentication for my local ES installation (with x-pack security) where every time I tried to sign in with the login window would continually reset. Looking at the chrome console, I saw that the username was being set to "localhost" with password "9200" the local ES port.
Pictured below:

![mirage_no-auth](https://user-images.githubusercontent.com/15711729/

[2017-08-23 01:42] siddharthlatest commented on #43
@reedv Does your index already exist?

[2017-08-23 01:42] reedv commented on #43
yes

[2017-08-23 01:48] siddharthlatest commented on #43
@reedv Can you try prefixing your cluster URL with http:// scheme? It should look like this:

![](https://i.imgur.com/dy8IMxK.png)

[2017-08-23 01:53] reedv commented on #43
@siddharthlatest Using http:// scheme?localhost:9200 in the mirage cluster url field still gives a similar error:

![screenshot from 2017-08-22 15-52-48](https://user-images.githubusercontent.com/15711729/29595243-0108cb04-8752-11e7-8b1e-bdbde0d20952.png)

[2017-08-23 01:54] siddharthlatest commented on #43
@reedv Your cluster URL should be `http://localhost:9200`.

[2017-08-23 02:00] reedv commented on #43
@siddharthlatest Sorry, I didn't get what you meant then by prefixing scheme? in the cluster name. Using the url you recommended, I get:
![screenshot from 2017-08-22 15-58-38](https://user-images.githubusercontent.com/15711729/29595408-fabff6d6-8752-11e7-8a24-a357762d5b0e.png)
Using me credentials, the window just continually resets to blank fields.

[2017-08-23 02:03] siddharthlatest commented on #43
@reedv Just seeing that you mentioned you are using X-Pack security. I haven't used it, but in this case, the cluster field should be filled like:

`http://username:password@localhost:9200`.

Let me know if this works.

[2017-08-23 02:07] reedv commented on #43
A problem that I am seeing is that my password has the form "password@passwordContinued", so mirage is sending command  GET http://passwordContinued@localhost:9200/bank/_mapping/.

I will try changing the password and see what happens then.

[2017-08-23 02:16] reedv commented on #43
@siddharthlatest changedd password to password123passwordContinued and am seeing this now:
![screenshot from 2017-08-22 16-12-49](https://user-images.githubusercontent.com/15711729/29595680-c5295858-8754-11e7-974f-b84f43bae1a4.png)
which seems to be working. Thanks for the advice and thanks for the quick response.

Trying to use the dejavu data view from mirage, I see this error in the console:
![

[2017-08-23 02:21] siddharthlatest commented on #43
@reedv That's great to hear.

On the dejavu issue, I think it is requesting a http:// URL over an https:// connection. See your URL bar and enable loading unsafe scripts.

![](https://i.imgur.com/1imbDtt.png)

If you still see an issue with dejavu, the recommended place to file it would be https://github.com/appbaseio/dejavu/issues.

[2017-08-23 02:26] reedv commented on #43
@siddharthlatest
That worked, Thanks.
And yeah, I was going to post the issue to the dejavu issues, but figured it might be related since the behavior change was due to the mirage issue fix.
Anyway, you were super fast and super helpful, thanks again.

[2017-08-23 02:26] #43 closed, assigned to nobody

[2017-08-24 23:04] reedv opened #44 "Local build of mirage not displaying UI elements"
OS: Linux mint 18.2
node version: v7.10.1
npm version: 4.2.0

Trying to build locally using current instructions. This is the output that I see:

[code]
Continuing through the installation steps I see output...

[code]

When the mirage tab opens in my default browser (chrome) I see this:

![screenshot from 2017-08-24 14-40-12](https://user-images.githubusercontent.com/15711729/29694752-3955b934-88

[2017-08-29 17:26] dhruvdutt opened #45 "Boolean field checker"
The data consists of an array of simple objects with the shape as follows:
Here's [link](https://gist.githubusercontent.com/dhruvdutt/1180f1727eb5dac109577c78d0731591/raw/5c584e1a840097d5837c97f79eb6544c57599e4e/dhruvdutt-starter-data.json) to the full exported data.

[code]

The issue is with fields that have boolean values like `completed` in this case. Input box doesn't show up.

![image](https

[2017-08-29 18:34] svanschalkwyk commented on #44
I'm seeing the same thing. Not rendering on Opera, Chrome. Any developments on this?

[2017-08-30 00:54] zhaoyi0113 opened #46 "Failed to connect to a default elasticsearch instance"
I have launched a default elasticsearch instance which is available on my local environment: `http://localhost:9200`.  Open this url on my browser I get below output:

[code]

but when I tried to use `mirage` to connect to this instance. I get an error dialog saying:
`It looks like your app name, username, password combination doesn't match. Check your url and appname and then connect it again.`

[2017-09-18 23:10] MehdiFal commented on #44
@reedv @svanschalkwyk I was facing the same thing.
then I run the following steps and it started working:
[code]

[2017-09-18 23:14] svanschalkwyk commented on #44
Thanks! Will try it again, although I built it from source initially.
S

[2017-09-19 03:54] siddharthlatest commented on #44
@MehdiFal Thanks, I can confirm that the local build works fine on OS X and Node v7.5.0.

[2017-09-29 06:44] siddharthlatest opened #47 "Query state being saved incorrectly: match_phrase and match_phrase_prefix"
A query saved as

![](https://i.imgur.com/03JIfIy.png)

becomes

![](https://i.imgur.com/SHXJWlM.png).

This happens for **match_phrase** and **match_phrase_prefix** queries.

[2017-10-02 19:11] #38 closed, assigned to nobody

[2017-10-03 01:57] etfeet opened #49 "local build fails on centos 7"
Hi,

I'm trying to build locally on CentOS 7 and I'm getting the following error:

[code]

[code]

[2017-10-03 09:11] yuseferi opened #50 "Couldn't connect to localhost elastic search service"
I have elastic search service on my local on docker ( port is 9200 ) and I can access it via browser URL, but unfortunately, I can't connect to it via your plugin. ( I set URL to 127.0.0.1:9200 too, but not connected)

[2017-10-11 11:37] siddharthlatest opened #51 "Missing type of query when loading a saved query"
There is a missing query type when a user loads a saved query. [Example URL](https://opensource.appbase.io/mirage/#?input_state=XQAAAAKwBAAAAAAAAAA9iIhnNAWbsswtYjeQNZkpzQK4_mOzUeDpWmKy6bA5agSYe1JiQgfkiNA7gw2HgoIIiFTTsA9ZyZY5VhBROEhMYAp9wXmbYO9ipNHXRV-VJgm6LuM5E2bVn4BJNpAxaYUWLLKKe3yh7cC96SxlNSC5VxlND1nRcJtpqGMwECOdRceO0xWgoXoyDliq_NpQ5H5RQaKgR1jfzT6Rt2HW2FlGRoS8Y0qz_2fvgqciRE812XeKB23dnSg9YesZ2pfa

[2017-10-26 11:20] ghost opened #52 "Support for NTLM/Kerberos authentication from Chrome plugin"
When authenticating with our Elasticsearch server, my browser is challenged to provide an NTML token:
WWW-Authenticate:Negotiate
WWW-Authenticate:NTLM

... but Mirage Chrome plugin only requests the resource using basic authentication:
Authorization:Basic aW50cmFuZXR0LnNpdHMu...

As a reference, the Sense Chrome plugin uses the correct authentication method in its request:
Authorization:Negotiate

[2017-10-27 06:33] siddharthlatest commented on #52
@knowit-reaktor-oslo Does Mirage use Basic Auth even when you don't supply any `username` and `password` credentials?

[2017-10-27 07:28] havard-fjaer commented on #52
No – I see I may have been unclear with what headers are coming from request and and response.
I do get an input box for login before sending a request with basic auth.

(This is my private account that I mostly use; I was accidentally logged in with @knowit-reaktor-oslo account yesterday)

[2017-10-27 07:43] iazel commented on #50
Just had this problem, the solution is to prepend `http://`, so in your case it would be:
[code]

[2017-10-27 07:45] siddharthlatest commented on #50
Sounds about right, a URL will need a http:// scheme prefix.

[2017-10-27 07:45] #50 closed, assigned to nobody

[2017-10-27 15:58] peter-thomas commented on #46
I'm having the same issue here. How does one connect to an Elasticsearch instance that doesn't use a user name and password?

[2017-10-28 10:03] metagrover commented on #46
Hi @zhaoyi0113, sorry for the late response. If you haven't got it working yet - https://github.com/appbaseio/mirage/issues/13 or https://github.com/appbaseio/mirage/issues/18 should help.

You just need to update your ES config:

[code]

[2017-10-28 18:12] siddharthlatest commented on #46
I can confirm that this resolves the connection issue.

[2017-10-28 18:12] #46 closed, assigned to nobody

[2017-10-28 18:33] siddharthlatest commented on #52
@havard-fjaer The input box for login that you are referring to is what Chrome browser is showing for authenticating you via NTLM/Kerberos, and at the same time, Mirage makes a request with a Basic Auth header (even though you don't set a username:password in the Mirage UI's URL field). Am I understanding this correctly?

[2017-10-28 18:35] siddharthlatest opened #53 "Upgrade to latest appbase-js lib"
The library's latest version is `2.1.0` - https://www.npmjs.com/package/appbase-js, upgrade mirage to use this version. Can possibly fix #52, as the new version doesn't assume Basic Auth authentication mechanism.

[2017-11-27 11:51] divyanshu013 opened #54 "Update appbase ES version logic"
While connecting an appbase app, we should fetch the ES version for the app and set the mapping object accordingly.

Ref https://github.com/appbaseio/dejavu/blob/dev/live/src/js/helper/feed.js#L141-L179

[2017-12-01 10:48] weewey commented on #32
Is it possible we can point the Data View and Query View to take me to the locally installed deja vu?

I have tried to change the code at _mirage/app/result/result.component.ts_ and _mirage/app/shared/urlShare.ts_

to point it to http://localhost:1358/live/

[2017-12-01 10:55] siddharthlatest commented on #32
@weewey The challenge is that we can't tell when a user has them locally installed. You should be able to trivially replace the host name of the shared URL with localhost and it should work.

[2017-12-12 15:30] #54 closed, assigned to metagrover

[2018-01-11 16:13] raspberryman opened #55 "Can Mirage also not send Auth headers like DejaVu?"
Hi all - I noticed that DejaVu won't send Auth headers if i don't set a username/password - this is great!

Mirage seems to always send the Auth headers.  Is there a way to not send them?

I am using the Chrome Extension.

[2018-01-14 06:20] siddharthlatest commented on #55
@raspberryman This should be possible, we will look into it.

[2018-01-25 12:12] #39 closed, assigned to nobody

[2018-01-25 12:13] metagrover commented on #53
Added here: 408476af1f484b24132e0f93791efd41c71c9812

[2018-01-25 12:13] #53 closed, assigned to nobody

[2018-01-25 13:04] #55 closed, assigned to metagrover

[2018-01-25 14:16] siddharthlatest commented on #49
This shouldn't happen starting `0.8.0`. Also, you can use the [docker image](https://hub.docker.com/r/appbaseio/mirage/) now instead of running a local server by building manually from source.

[2018-01-25 14:16] #49 closed, assigned to nobody

[2018-01-25 14:18] siddharthlatest commented on #52
This should be fixed now, as mirage no longer sends Basic Auth headers if you don't pass them in the URI. cc @havard-fjaer.

[2018-01-25 14:18] #52 closed, assigned to nobody

[2018-01-25 14:19] siddharthlatest commented on #44
With the `yarn.lock` file, this should be resolved now. Also, I encourage using the [Docker image](https://hub.docker.com/r/appbaseio/mirage/) instead unless you are looking to contribute to the project. :-)

[2018-01-25 14:19] #44 closed, assigned to nobody

[2018-01-25 14:22] siddharthlatest commented on #27
Since Mirage works just fine in a standalone fashion via [Docker image](https://hub.docker.com/r/appbaseio/mirage/) and [chrome-extension](https://chrome.google.com/webstore/detail/mirage/dcnlpfmnpoggchflmdnkgiepijgljoka), I am closing this issue.

If someone is interested in creating a PR for doing this, we can open it back.

[2018-01-25 14:22] #27 closed

[2018-01-31 10:18] andresilveirah commented on #16
Hi guys, sorry for reviving this issue.
I'm having the same problem to use Mirage with an unprotected instance of ES running on AWS.
The funny part is that I can connect without problems using Dejavu.

Any ideas?

[2018-02-08 21:15] #47 closed, assigned to metagrover

[2018-03-06 20:43] geraldclark opened #56 "Custom Dejavu URL"
Is there a recommended approach for updating the dejuvu "Data View" url to a local docker instance of dejavu?

[2018-03-06 20:57] siddharthlatest commented on #56
@geraldclark You should be able to change this in the source, and then build a custom docker image to do this.

The specific place you would need to change this is here - https://github.com/appbaseio/mirage/blob/901354fa335dded9798d78ce62088d742c45e587/app/app.component.ts#L646.

I am not sure if it make sense for us to add this in the code as it may hurt accessibility in case a user doesn't have

[2018-03-06 21:01] geraldclark commented on #56
@siddharthlatest I was just thinking it might be beneficial to allow for an external configuration as I'd prefer to not have to build a custom docker image or modify the core app source.

[2018-03-06 21:07] siddharthlatest commented on #56
That's a good idea. We would probably want to support some level of configurability (via env variables), but I am not sure atm what other things may be useful to go in. That said, I am happy to accept a PR for this specific configuration to get us started on that path.

[2018-04-02 10:30] dhruvdutt opened #57 "URLParams issue with geodistance queries"
URL params doesn't support `distance` field in case of geodistance queries.

Query:
![image](https://user-images.githubusercontent.com/5961873/38193144-1079afb8-368e-11e8-98e3-9c6411951dcc.png)

[Mirage Link](https://opensource.appbase.io/mirage/#?input_state=XQAAAAK0CAAAAAAAAAA9iIhnNAWbsswtYjeQNZkpzQK4_mOzUeDpWmI_q1W5J_v7Zsy4Ujaaw71A1BS9rYYbaidH1ngBtQ-I1sDSXRgrmGsCDzBYBoUXwDHQtefpH-PChYyyKqpnVdVr

[2018-04-20 18:48] bbugh commented on #18
Anyone else stuck on this, I had to add the options to the elastic config, restart, and then use `127.0.0.1` instead of `localhost` to be able to connect to my local instance.

[2018-06-25 15:58] siddharthlatest opened #58 "Terms query option doesn't show up for a numeric field"
When selecting a numeric field, the option for `term` and `terms` query should show as they are applicable. However, we currently don't show them.

[2018-07-04 08:59] pfk-beta opened #59 "Feature request - specify output fields when quering ES"
Hello,

First of all, thank for you great application. It helps me everyday working with ES:) I'm working with Mirage in chrome(as an extension). I can modify query manually, bet every change in gui, resets my changes to output fields (e.g."_source": ["user", "message", ...] according to this post https://stackoverflow.com/a/9605566/1615070 )

Is there possibility to add in Mirage button with "out

[2018-07-04 10:44] siddharthlatest commented on #59
Thanks @pfk-beta, that's a good idea. We should add this. Also open if you or someone wants to give it a try and submit a PR!

[2018-07-25 10:05] open7c opened #61 "Docker Version - Persist Saved Queries"
Is it possible to store the Saved Queries Serverside instead of the Browsers Cache?

So it would be easier for a Team to See/Edit common Queries.

[2018-08-16 16:57] felixbuenemann opened #62 "Nested queries broken"
Using the current version 0.8.0 of the Mirage Chrome Extension, whenever the checkbox "Add joining quere" is selected and "nested" is selected from the "select-joining-query" dropdown, the generated query changes to `{}` instead of generating the nested query wrapper.

Tested on Chrome Canary 70.0.3524.0.

[2018-09-06 04:10] arkhamvm opened #63 "Query size parameter"
Hello.
I have a trouble with querying large index, cause i can't set query `size` parameter.
It would be nice to add this parameter to query form.
Or atleast it should be setted to 100 as default (for example).

[2018-09-06 12:45] siddharthlatest commented on #63
@arkhamvm You can currently set size by adding a `querystring` for it like below.

![](https://i.imgur.com/7RCL8O5.png)

[2018-09-06 12:45] #63 closed, assigned to nobody

[2018-09-06 12:48] siddharthlatest commented on #61
@open7c We don't do this so this can be used as a standalone open-source project. However, it's a good idea and we have a variant of Mirage that we offer with state saved serverside at appbase.io.

[2018-09-06 12:48] #61 closed, assigned to nobody

[2018-10-30 05:39] leosuncin opened #64 "Fail to load demo data"
I clicked on "Live demo with preloaded queries" but it never loads, checking the devtools shows an error when a remote request is made to https://scalr.api.appbase.io/App3/_mapping/ returns 500
[code]

[2018-10-31 03:56] siddharthlatest commented on #64
@leosuncin Thanks for pointing this out, we need to update the app used for demo here.

[2018-11-16 20:02] welchwilmerck commented on #32
Could you be more specific about how I might "trivially replace the host name of the shared URL"?  Do you mean under the share icon on the far left?  I can edit, but it doesn't save my changes.

I've gone with the chrome extension for both dejavu and mirage, so how do I get them to point to each other instead of appbase.io?

[2018-11-16 20:05] welchwilmerck opened #65 "Reopen Data View and Query View button take me to appbase.io"
Regarding https://github.com/appbaseio/mirage/issues/32.  Could you be more specific about how I might "trivially replace the host name of the shared URL"? Do you mean under the share icon on the far left? I can edit, but it doesn't save my changes.

I've gone with the chrome extension for both dejavu and mirage, so how do I get them to point to each other instead of appbase.io?

[2018-11-22 07:48] siddharthlatest commented on #64
This has been fixed.

[2018-11-22 07:48] #64 closed, assigned to metagrover

[2018-12-05 20:48] mschnee commented on #16
The `Authorization` header is something that AWS-hosted Elasticsearch EC2 container itself is complaining about.  However, the fact that `mirage` is injecting it is a huge problem because it does not appear to be coming from any kind of actual Oauth flow.

Four things:
First- if we use AWS-hosted Elasticsearch, we can't change CORS.
Second- AWS hosted Elasticsearch service works fine.
Third- Unles

[2018-12-05 21:02] mschnee opened #67 "Mirage is Injecting the appbase Bearer Authorization token into non-appbase Elasticsearch cluster requests"
This is the cause of #16

Reproduction steps:
- Install mirage as an extension or run it locally.
- Provide an AWS-hosted ElasticSearch cluster URL and index.
- Note in the web inspector of your choice that the request to `${host}/${index}/_mapping` includes an `Authorization` header, which causes the request to fail.
- This Authorization header should not be sent.

[2018-12-05 21:27] siddharthlatest commented on #67
@mschnee Thanks for pointing this out. I have an idea on what's causing this. @metagrover  @lakhansamani Is it possible to upgrade Mirage to use the latest appbase-js lib?

[2019-05-26 10:59] barroudjo commented on #62
I don't know if it is related or not, but making a query on a nested field does not work for me: even if I select the right path, the autocomplete field for the field name is always empty, so I can't select anything.
Here is what the data looks like:
![image](https://user-images.githubusercontent.com/7458434/58380794-d3c19c80-7fb5-11e9-888c-f2428cedc50b.png)
And here is the problem:
![image](https

[2019-06-30 12:57] chigix opened #68 "Support for Elasticsearch 7+"
Because Elasticsearch API has been changed mainly because of the [removal of types](https://www.elastic.co/guide/en/elasticsearch/reference/master/removal-of-types.html) since version 7, mirage is currently completely unable to be applied in elastic practice with Elasticsearch 7.

[2019-07-01 08:16] siddharthlatest commented on #68
@chigix Good point, we will look into adding support for ElasticSearch v7+.

[2019-08-16 18:55] tomwarner13 opened #81 "Allow users to scroll using the browser scrollbar"
When I run a query, a modal opens with the results. For some reason, when this modal is open, the scrollbar functionality of the browser is partially disabled. I can still scroll through the results using the mouse wheel, or page up/down, but I am unable to move the browser's scrollbar by clicking on it. This is mildly annoying with a small result set since it breaks expected behavior, and incredi

[2019-08-16 22:01] soccer99 commented on #62
This is still happening on 0.11

[2019-10-11 09:22] siddhartpai opened #82 "Missing chrome extension link"
Hi

The chrome extension links are broken, so are the appbase links.

[2019-10-11 09:35] siddharthlatest commented on #82
You can use Mirage from the hosted link here: https://opensource.appbase.io/mirage/.

[2019-10-11 09:37] siddharthlatest commented on #82
Have updated the README.

[2019-10-11 09:37] #82 closed, assigned to nobody

[2019-11-03 17:30] leonsery opened #83 "Cannot build locally"
During 'npm install' I have the following error:

Downloading binary from https://github.com/sass/node-sass/releases/download/v3.13.1/win32-x64-72_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v3.13.1/win32-x64-72_binding.node"

I checked - in v3.13.1 indeed there is no win32-x64-72_binding.node release. Last one is win32-x64-51_binding.node

How can I fix the e

[2020-01-30 04:05] Eglet27 commented on #83
i also got the same error. any fix?

[2020-02-07 15:34] SergioMatheus commented on #83
change on package.json the version of node-sass to version into here https://github.com/sass/node-sass on your node version.

[2020-03-05 17:49] mikemaccana commented on #46
Yeah a better options is:
`http.cors.allow-origin=http://localhost:1358,http://127.0.0.1:1358`

[2020-04-22 16:12] joej opened #84 "index patterns?"
With a series of indices (xxxx_2010, xxxx_2011, xxxx_2012, etc), kibana can use a pattern "xxxx_*"

It does not appear that mirage does this. So, indices of "*" or "xxxx_*" fail with a message about  failure in theauthentication, appname, etc

Enhancement?

[2020-04-22 16:13] joej commented on #84
Sounds like "No index/appname can be selected #41
 ... and I assume the answer is "no" since it was closed

Enhancement?

[2021-03-31 23:14] metalshanked opened #91 "Handle special characters in the password"
Hi, I am trying to connect to a cluster which has special characters in the password like the at and hash/pound chars
Mirage fails to connect to the cluster with the standard format https://username:passwordwithspecialchars@cluster.com:9200

So, i tried URL encoding the chars as well but that did not work either.

Can anyone advise? Thanks in advance!